<p id="notice"><%= notice %></p>

<p>
  <strong>Answerid:</strong>
  <%= @answer_vote.answerId %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @answer_vote.user_id %>
</p>

<%= link_to 'Edit', edit_answer_vote_path(@answer_vote) %> |
<%= link_to 'Back', answer_votes_path %>
